
@model MVCWEF.Models.User
@{
    Layout = null;
}


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- styles -->
    <link rel="stylesheet" href="~/assets1/css/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/Style/css1/style.css" rel="stylesheet" />
    <link href="~/assets1/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets1/css/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets1/css/slippry.css">
    <link href="~/assets1/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets1/color/default.css">
    <!-- =======================================================
      Theme Name: Groovin
      Theme URL: https://bootstrapmade.com/groovin-free-bootstrap-theme/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
    <script src="assets/js/modernizr.custom.js"></script>


    <script language="javascript" type="text/javascript">

        function ShowHidePassword(obj) {

            if (obj.checked) {

                document.getElementById('pwd').type = 'text';

            }

            else {

                document.getElementById('pwd').type = 'password';

            }

        }

    </script>
</head>

<body>
    <header>

        <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Project</a>
                </div>

                <div class="navigation">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="current"><a href="#intro">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#works">Works</a></li>
                                <li><a href="#loginForm">Login</a></li>
                                <li><a href="#SignIn">SignIn</a></li>
                                <li><a href="@Url.Action("Index", "ViewAllProduct")">Items</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>

            </div>
        </div>

    </header>
    <!-- section intro -->
    <section id="intro">
        <ul id="slippry-slider">
            <li>
                <a href="#slide1"><img src="~/assets1/img/slide/1.jpg" alt="Welcome to Groovin!"></a>
            </li>
            <li>
                <a href="#slide2"><img src="~/assets1/img/slide/2.jpg" alt="This is an awesome bootstrap template"></a>
            </li>
            <li>
                <a href="#slide3"><img src="~/assets1/img/slide/3.jpg" alt="Check it out, you are going to ><span class='red'>♥</span> it :)"></a>
            </li>
        </ul>
    </section>








    <section id="loginForm" class="section">
        <div style="border: 1px solid black; border-radius: 10px; background-color: #eaeae1" class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    @using (Html.BeginForm("Login", "AccountUser", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Use a local account to log in.</h4>
                        <hr />
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "" })
                                @Html.ValidationMessageFor(m => m.Password)
                                <span>
                                    <input type="checkbox" id="checkbox1" onclick="ShowHidePassword(this)" />
                                    Show Password
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </section>






    <section id="SignIn" class="section">
        <div style="border: 1px solid black; border-radius: 10px; background-color: #eaeae1" class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    @using (Html.BeginForm("RegisterForm", "AccountUser", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <h4>To Create Account SignIn.</h4>
                        <hr />
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Name, new { @class = "" })
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Age, new { @class = "" })
                                @Html.ValidationMessageFor(m => m.Age)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Phone, new { @class = "" })
                                @Html.ValidationMessageFor(m => m.Phone)
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="SignIn" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>





    <!-- end intro -->
    <!-- Section about -->
    <section id="about" class="section">
        <div class="container">
    
            <div class="row">

                <table class="table">
                    <thead>
                        <tr class="success">

                           

                            <th>
                                Description
                            </th>

                            <th>
                                If you want
                            </th>


                        </tr>
                    </thead>
                   
                </table>
            </div>
        </div>
    </section>








    <!-- end intro -->
    <!-- Section about -->
    <section id="about" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="heading">
                        <h3><span>About us</span></h3>
                    </div>
                    <div class="sub-heading">
                        <p>
                            Creating a visual language around the beliefs of the brands we work with.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="team-box">
                        <img src="~/assets1/img/dummies/team1.jpg" alt="" class="img-responsive" />
                        <div class="roles">
                            <h5><strong>Baby Stewards Jr</strong></h5>
                            <p>
                                CEO - Founder
                            </p>
                            <ul class="social-profile">
                                <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <img src="~/assets1/img/dummies/team2.jpg" alt="" class="img-responsive" />
                        <div class="roles">
                            <h5><strong>Tommy Kreunichev</strong></h5>
                            <p>
                                Lead designer
                            </p>
                            <ul class="social-profile">
                                <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <img src="~/assets1/img/dummies/team3.jpg" alt="" class="img-responsive" />
                        <div class="roles">
                            <h5><strong>Moriella Maccini</strong></h5>
                            <p>
                                Customer support
                            </p>
                            <ul class="social-profile">
                                <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-box">
                        <img src="~/assets1/img/dummies/team4.jpg" alt="" class="img-responsive" />
                        <div class="roles">
                            <h5><strong>Brian James Scoothie</strong></h5>
                            <p>
                                Coffee maker
                            </p>
                            <ul class="social-profile">
                                <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>








    <!-- end section about -->
    <!-- section works -->
    <section id="works" class="section gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="heading">
                        <h3><span>Recent works</span></h3>
                    </div>
                    <div class="sub-heading">
                        <p>
                            We have a history of doing what our name implies, creating a visual language around the beliefs of the brands we work with.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="grid effect" id="grid">
                        <li>
                            <a class="fancybox" data-fancybox-group="gallery" title="Portfolio name" href="~/assets1/img/portfolio/1.jpg">
                                <img src="~/assets1/img/portfolio/1.jpg" alt="" />
                            </a>
                        </li>
                        <li><a href="~/assets1/img/portfolio/2.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="~/assets1/img/portfolio/2.jpg" alt="" /></a></li>
                        <li><a href="~/assets1/img/portfolio/3.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="~/assets1/img/portfolio/3.jpg" alt="" /></a></li>
                        <li><a href="~/assets1/img/portfolio/4.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="~/assets1/img/portfolio/4.jpg" alt="" /></a></li>
                        <li><a href="~/assets1/img/portfolio/5.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="~/assets1/img/portfolio/5.jpg" alt="" /></a></li>
                        <li><a href="~/assets1/img/portfolio/6.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="~/assets1/img/portfolio/6.jpg" alt="" /></a></li>
                        <li><a href="~/assets1/img/portfolio/7.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="~/assets1/img/portfolio/7.jpg" alt="" /></a></li>
                        <li><a href="~/assets1/img/portfolio/8.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="~/assets1/img/portfolio/8.jpg" alt="" /></a></li>
                        <li><a href="~/assets1/img/portfolio/9.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="~/assets1/img/portfolio/9.jpg" alt="" /></a></li>
                        <li><a href="~/assets1/img/portfolio/10.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="~/assets1/img/portfolio/10.jpg" alt="" /></a></li>
                        <li><a href="~/assets1/img/portfolio/11.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="~/assets1/img/portfolio/11.jpg" alt="" /></a></li>
                        <li><a href="~/assets1/img/portfolio/12.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="~/assets1/img/portfolio/12.jpg" alt="" /></a></li>
                        <li><a href="~/assets1/img/portfolio/13.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="~/assets1/img/portfolio/13.jpg" alt="" /></a></li>
                        <li><a href="~/assets1/img/portfolio/14.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="~/assets1/img/portfolio/14.jpg" alt="" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>














    <!-- end section contact -->
    <footer>
        <div class="verybottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aligncenter">
                            <ul class="social-network social-circle">
                                <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="aligncenter">
                            <p>
                                &copy; Groovin Theme - All right reserved
                            </p>
                            <div class="credits">
                                <!--
                                  All the links in the footer should remain intact.
                                  You can delete the links only if you purchased the pro version.
                                  Licensing information: https://bootstrapmade.com/license/
                                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Groovin
                                -->
                                <a href="https://bootstrapmade.com/">Free Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="scrollup"><i class="fa fa-angle-up fa-2x"></i></a>
    <!-- javascript -->
    <script src="~/assets1/js/jquery-1.9.1.min.js"></script>
    <script src="~/assets1/js/jquery.easing.js"></script>
    <script src="~/assets1/js/classie.js"></script>
    <script src="~/assets1/js/bootstrap.js"></script>
    <script src="~/assets1/js/slippry.min.js"></script>
    <script src="~/assets1/js/nagging-menu.js"></script>
    <script src="~/assets1/js/jquery.nav.js"></script>
    <script src="~/assets1/js/jquery.scrollTo.js"></script>
    <script src="~/assets1/js/jquery.fancybox.pack.js"></script>
    <script src="~/assets1/js/jquery.fancybox-media.js"></script>
    <script src="~/assets1/js/masonry.pkgd.min.js"></script>
    <script src="~/assets1/js/imagesloaded.js"></script>
    <script src="~/assets1/js/jquery.nicescroll.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>
    <script src="~/assets/js/AnimOnScroll.js"></script>
    <script>
        new AnimOnScroll(document.getElementById('grid'), {
            minDuration: 0.4,
            maxDuration: 0.7,
            viewportFactor: 0.2
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#slippry-slider').slippry(
                defaults = {
                    transition: 'vertical',
                    useCSS: true,
                    speed: 5000,
                    pause: 3000,
                    initSingle: false,
                    auto: true,
                    preload: 'visible',
                    pager: false,
                }

            )
        });
    </script>

    <script src="~/assets1/js/custom.js"></script>
    <script src="~/contactform/contactform.js"></script>

</body>

</html>
